doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Book CRUD
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1 Book CRUD

      // Create Book Form
      h2 Create Book
      form(action="/books/create", method="POST")
        .form-group
          label(for="title") Title
          input.form-control(type="text", id="title", name="title", required)
        .form-group
          label(for="author") Author
          input.form-control(type="text", id="author", name="author", required)
        .form-group
          label(for="genre") Genre
          input.form-control(type="text", id="genre", name="genre", required)
        .form-group
          label(for="publishedYear") Published Year
          input.form-control(type="number", id="publishedYear", name="publishedYear", required)
        button.btn.btn-primary(type="submit") Create


script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js", integrity="sha384-Pzjw5fPlHPwbLdIzVTAjve4s9pOTp6j7R1f3x4Rf+O5n37PzBrz/dcM1J7M+D9U", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-pzjw5fPlHPwbLdIzVTAjve4s9pOTp6j7R1f3x4Rf+O5n37PzBrz/dcM1J7M+D9U", crossorigin="anonymous")
