doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register - Book Recommendation System
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container.mt-4
      .row
        .col-md-6.mx-auto
          h2 Register
          form(action="/auth/register", method="POST")
            .form-group
              label(for="reg-username") Username
              input.form-control(type="text", id="reg-username", name="username", required)
            .form-group
              label(for="reg-email") Email
              input.form-control(type="email", id="reg-email", name="email", required)
            .form-group
              label(for="reg-password") Password
              input.form-control(type="password", id="reg-password", name="password", required)
            button.btn.btn-primary(type="submit") Register
